root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.sln]
end_of_line = crlf
indent_size = 4
indent_style = tab

[*.csproj]
indent_size = 2
indent_style = space

[*.cs]
charset = utf-8-bom
indent_size = 4
indent_style = space

# .Net Compiler rule
dotnet_analyzer_diagnostic.category-Style.severity = warning
dotnet_diagnostic.IDE0001.severity = silent
dotnet_diagnostic.IDE0002.severity = silent
dotnet_diagnostic.IDE0003.severity = silent
dotnet_diagnostic.IDE0007.severity = silent
dotnet_diagnostic.IDE0008.severity = silent
dotnet_diagnostic.IDE0009.severity = warning
dotnet_diagnostic.IDE0022.severity = silent
dotnet_diagnostic.IDE0039.severity = silent
dotnet_diagnostic.IDE0065.severity = silent
dotnet_diagnostic.IDE0160.severity = silent
dotnet_diagnostic.CA1031.severity = silent
dotnet_diagnostic.CA1308.severity = silent
dotnet_diagnostic.CA1852.severity = silent
dotnet_diagnostic.CA2201.severity = silent
dotnet_diagnostic.CS1591.severity = silent
dotnet_diagnostic.IDE0130.severity = silent # for local

[*.json]
indent_size = 4
indent_style = space
